[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = truel

[dev-packages]

[packages]
django = "*"

[scripts]
start = "python3 manage.py runserver"

[requires]
python_version = "3.7"
